<%= render 'include/header' %>

<h1 id="abouthackrdot">About Hackrdot</h1>

<p>If you are a programmer, or simply interested in technology in general, then you've most likely visited <a href="https://news.ycombinator.com" target="_blank">Hacker News</a>, <a href="https://reddit.com/r/programming" target="_blank">r/programming</a>, and <a href="https://slashdot.org" target="_blank">Slashdot</a>. Chances are you visit them almost on a daily basis. </p>

<p>They can consume high amounts of valuable time by dragging you from one link to another if you are not careful, but they are important resources to keep in touch with what is happening around the world. </p>

<h3 id="why">Why?</h3>

<p>I used to visit those sites frequently, and I realized I was having different problems with each of them:</p>

<ul>
<li>r/programming and Slashdot UIs could easily become distractive with all the flashy ads and buttons I don't really need.</li>

<li>r/programming's endless scroll meant I could spend indefinite amounts of time there looking for interesting content.</li>

<li>There was no easy way to bookmark posts on Hacker News and Slashdot.</li>
</ul>

<p>So I ended up building Hackrdot (origin of the name should be pretty obvious) to fix the problems I was having in one place. It was for my personal use alone in the beginning, but I decided to make it public after some additions.</p>

<ul>
<li>I could save posts from all three sites in a single place.</li>

<li>Better manage my time as there is no infinite scroll. Not even a second page. Frontpage was more than I needed.</li>

<li>Have a single, consistent UI that provides all the information I needed without any bloat.</li>
</ul>

<h3 id="how">How?</h3>

<p>Hackrdot is built with <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>, a good framework to build such personal projects in a rapid way.</p>

<p><a href="https://github.com/sparklemotion/nokogiri" target="_blank">The Nokogiri gem</a> is used to scrape content from HN and Slashdot, the <a href="https://www.reddit.com/dev/api/" target="_blank">Reddit API</a> is used for r/programming. </p>

<p>A MySQL database is used to store user data and bookmarks. </p>

<p>The source code may be found <a href="https://github.com/ege-erdogan/hackrdot" target="_blank">here</a>.</p>

<hr />

<p>If you spot anything wrong, or simply have a suggestion, feel free to email me at <em>ege@erdogan.dev</em>.</p>

