<br>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand">News</a>
	<span>
		<a class="btn btn-light" href="#" role="button">Login</a>
		<a class="btn btn-outline-dark" href="#" role="button">Sign Up</a>
	</span>
</nav>
<br>