<br>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand">News</a>
	<span>
		<% if logged_in? %>
			<strong><%= current_user.name %></strong>
			<a class="btn btn-outline-danger" href="/logout" role="button">Log out</a>
		<% else %>
			<a class="btn btn-light" href="/login" role="button">Login</a>
			<a class="btn btn-outline-dark" href="/signup" role="button">Sign Up</a>
		<% end %>	
	</span>
</nav>

<br>