<div class="container">
	<br>
		<div class="row">
			<div class="col">
				<h1>News</h1>
			</div>
			<div class="col align-self-center">
				<!-- <ul class="nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link">
							about
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">
							contact
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">
							settings
						</a>
					</li>
				</ul> -->
			</div>
		</div>
	<br>
</div>