<table class="table table-dark table-borderless">
  <thead class="sd-filler">
    <th colspan="2">
      
    </th>
  </thead>
  <% @sd_posts.each do |sd_post| %>
    <tr class="sd-row">
      <td>
        <a href="<%= sd_post.sd_url %>" style="color: white" target="_blank">
          <strong>
            <%= sd_post.title %>
          </strong>
        </a>
      </td>
      <td>
        <a class="btn btn-dark btn-block btn-sm" href="<%= sd_post.sd_url %>" target="_blank">
          <strong><%= sd_post.comment_count %></strong>
        </a>
      </td>
    </tr>
  <% end %>
</table>