// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Fira-Sans';
	src: asset-url('FiraSans-Regular.ttf') format("trueType");
}

body {
	font-family: 'Fira-Sans', sans-serif !important;
	@media(max-width: 450px) {
		font-size: 2em !important;
	}
}

td {
	vertical-align: middle !important;
}

// COLORS
$hn_background: #F6F6F0;
$hn_secondary_text: #898988;
$hn_icon_background: #FF660A;
$hn_darker: #C96A3A;

$reddit_secondary_text: #888888;
$reddit_icon_background: #0D2A35;
$reddit_lighter: #203640;

$sd_text_background: #2A6564;
$sd_icon_background: #296465;
$sd_secondary_text: #8CBBBB;
$sd_summary_background: #F2F2F2;
$sd_button_background: #1E2329;

// CONTENT COLORING
.sd-title {
	color: white;
	&:hover {
		color: white;
	}
	&:visited {
		color: $sd_secondary_text;
	}
}

.sd-row {
	background-color: $sd_text_background;
}

.sd-title-cell {
	vertical-align: middle !important;
	padding: 6px 10px 6px 10px !important;
}

.sd-spacer {
	padding: 5px !important;
}

.sd-secondary-text {
	color: $sd_secondary_text;
	&:hover {
		color: $sd_secondary_text;
	}
}

.sd-summary-row {
	background-color: $sd_summary_background;
}

.sd-summary-text {
	margin-bottom: 0 !important;
	font-size: small;
	i {
		display: block;
		padding: 0 0 0 10px;
		margin-top: 8px;
		margin-bottom: 10px;
		border-left: 3px solid $sd_secondary_text;
	}
	@media(max-width: 415px) {
		font-size: 1.7em !important;
	}
}

.hn-title {
	color: black;
	&:hover {
		color: black;
	}
	&:visited {
		color: $hn_secondary_text;
	}
}

.hn-row {
	background-color: $hn_background;
}

.hn-secondary-text {
	color: $hn_secondary_text;
}

.hn-comment-button {
	transition: all .4s ease;
	background-color: $hn_icon_background !important;
	border: none !important;
	&:hover {
		background-color: $hn_darker !important;
	}
}

.reddit-title {
	color: blue;
	&:hover {
		color: blue;
	}
	&:visited {
		color: purple;
	}
}

.reddit-secondary-text {
	color: $reddit_secondary_text;
}

.reddit-comment-button {
	transition: all .4s ease;
	background-color: $reddit_icon_background !important;
	border: none !important;
	&:hover {
		background-color: $reddit_lighter !important;
	}
}

.sd-comment-button {
	background-color: $sd_button_background !important;
	border: none !important;
}

// TAB & NAVBAR COLORING
#hn-tab, .hn-filler {
	background-color: $hn_icon_background;
}

#reddit-tab, .reddit-filler {
	background-color: $reddit_icon_background;
}

#sd-tab, .sd-filler {
	background-color: $sd_icon_background;
}

// removes tabs' round corners
.nav-link {
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
}

.fixed {
	position: fixed !important;
	height: 100% !important;
}

// icons

.hn-bookmark {
	&:hover {
		color: $hn_icon_background;
	}
	color: $hn_icon_background;
}

.reddit-bookmark {
	&:hover {
		color: $reddit_icon_background;
	}
	color: $reddit_icon_background;
}

.sd-bookmark {
	&:hover {
		color: $sd_button_background;
	}
	color: $sd_button_background;
}

.dropdown-toggle {
	color: black !important;
}

.delete-button {
	&:hover {
		color: red;
	}
	color: red;
}
